PORT=
JWT_SECRET=your_secret_key
DATABASE_URL=postgresql://user:password@localhost:5432/school_db

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

REDIS_HOST=localhost
REDIS_PORT=6379


AWS_REGION=ap-south-1
AWS_BUCKET_NAME=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=